doctype
html(lang="en")
  head
    link(href="https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans", rel="stylesheet", type="text/css")
    style()
      include ../css/style.min.css
    noscript()
      style()
        include ../css/noscript.min.css
    meta(charset="utf-8")
    title Optimization Without AMP
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
  body
    include pagecontent.html
 
